{% extends 'wandr/base.html' %}
{% load staticfiles %}
{% block title_block %}
	About us
{% endblock %}

{% block body_block %}
<div class="margin-control">
	<div>
	<h1>About Wandr</h1>
	<p class="justified">
		This page is dedicated to all the romantic, curious and thrill-seeking adventurers out there! With Wandr, we provide a platform that allows you to share your best holiday snaps with like-minded globetrotters. Our mission is to let the community inspire each other and trigger a chain reaction that promotes wandrlust. We help people around the world to connect and inspirie each other by sharing their dream destinations.
	</p>
	</div>

    <h2>The Team</h2>
    <div>
        <p class="justified">Did you know that pinnipeds travel up to 21,000 km a year? We at Wandr don't make it quite that far. However, we are trying to keep up!
        The Wandr team consists of Cristina, Cynthia and Rob - Three master students at the Unverstiy of Glasgow School of Computing. If we are not busy tring to hack together a web application such as this, we like to spend our time with... you caught us there. We don't have hobbies.</p>
    </div>
    <img src="https://images7.alphacoders.com/326/thumb-1920-326765.jpg" style="width:70%;height:70%;">

    <div>
        <h2>Any questions or comments that you want to share? - Just leave us a message!
        </h2>
        <h2>
        <a href="mailto:2275765L@student.gla.ac.uk?Subject=Hello,%20Wandr%20Team" target="_top">2275765L@student.gla.ac.uk</a>
        </h2>
    </div>
    This website is 100% django-powered.
</div>
{% endblock %}