{% extends 'wandr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Picture
{% endblock %}

{% block body_block %}

<div class="margin-control">
 <h1>
 Add a Picture
 </h1>
 <div>

 <div class="container col-sm-10">
	<form id="picture_form" method="post" action="/wandr/add_picture/" enctype="multipart/form-data" >
		{% csrf_token %}

		<!-- {{ picture_form.as_p }} -->

		{% for hidden in picture_form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in picture_form.visible_fields %}

			<div class="form-group row">
				<label for="{{ field.id_for_label }}" class="col-form-label col-sm-2">
           				{{ field.label }}
         		</label>
         		<div class="col-sm-10">
         		<!-- {{ field }} -->
         		<input id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" class="form-control" placeholder="{{ field.help_text }}">
         		</div>
			</div>

<!-- 			{{ field.errors }}
			{{ field.help_text }} -->
			<!-- {{ field }} -->
		{% endfor %}
		<input class="btn btn-primary" type="submit" name ="submit" value = "Upload Picture"" />
	</form>
</div>
 </div>
 </div>
{% endblock %}
