{% extends 'wandr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Picture
{% endblock %}

{% block body_block %}
<div class="margin-control">
 <h1>
 Add a Picture
 </h1>
 <div>
	<form id="picture_form" method="post" action="/wandr/add_picture/" enctype="multipart/form-data" >
		{% csrf_token %}

		{{ picture_form.as_p }}

		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		{% endfor %}
		<input type="submit" name ="submit" value = "Upload Picture"" />
	</form>
 </div>
 </div>
{% endblock %}
