<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css_block %}

    {% endblock %}
    <title>Wandr -
    {% block title_block %}
        Wandr Title
    {% endblock %}
    </title>
</head>
<body>

<!-- Nav Bar -->

<nav id="menu-bar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="nav-link active" href="{% url 'index' %}">
                <img src="../../../static/images/logo-50.png" alt="Wandr Logo" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'add_picture' %}">Submit Picture</a></li>
                <li><a class="nav-link" href="{% url 'logout' %}?next=/wandr/">Logout</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'login' %}">Sign In</a></li>
                <li><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="menu-profile">
                {% if user.is_authenticated %}
                <a href="{% url 'user_profile' request.user.pk %}">
                Hi, {{ request.user.username }}
                {% if request.user.userprofile.picture %}
                <div id="profile-icon-wrapper">
                    <img src="/media/{{ request.user.userprofile.picture }}" alt="user icon" />
                </div>
                {% endif %}
                </a>
                {%  endif %}
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- End of Nav Bar -->

    <div class="page-wrap">
        {% block background_image %}
        {% endblock %}
        {% block body_block %}
        {% endblock %}
    </div>

<!--     <footer class="site-footer">
        <a href="{% url 'about' %}">@ 2017 Pinniped Production</a>
        <a href="mailto:email@email.com">email@email.com</a>
        <a href=""><img src="../../../static/images/logo-50.png" alt="Wandr Logo" style="margin-top: 5px"/></a>
    </footer> -->

    <div id="footer" class="footer-bottom site-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="footer-padding-top">
						<p class="text-center"><a href="{% url 'about' %}">@ 2017 Team Pinnipeds</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="footer-padding-top">
						<p class="text-center"><a href="mailto:2275765L@student.gla.ac.uk">email@email.com</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<p class="text-center"><a href="{% url 'index' %}"><img src="{% static '/images/logo-50.png' %}" alt="Wandr Logo" style="margin-top: 5px"/></a></p>
				</div>
			</div>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></body>
    <script src="{% static "js/scripts.js" %}"></script>

</html>