<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css_block %}

    {% endblock %}
    <title>Wandr -
    {% block title_block %}
        Wandr Title
    {% endblock %}
    </title>
</head>
<body>

<!-- Nav Bar -->

<nav id="menu-bar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="nav-link active" href="{% url 'index' %}">
                <img src="../../../static/images/logo-50.png" alt="Wandr Logo" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="{% url 'add_picture' %}">Submit Picture</a></li>
                <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'auth_logout' %}?next=/wandr/">Logout</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Sign In</a></li>
                <li><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="menu-profile">
                {% if user.is_authenticated %}
                <a href="{% url 'user_profile' request.user.pk %}">
                Hi, {{ request.user.username }}
                {% if request.user.userprofile.picture %}
                <div id="profile-icon-wrapper">
                    <img src="/media/{{ request.user.userprofile.picture }}" alt="user icon" />
                </div>
                {% endif %}
                </a>
                {%  endif %}
                </li>
{#        <li><a href="#">Link</a></li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- End of Nav Bar -->

    <div class="page-wrap">
        {% block background_image %}
        {% endblock %}
{#    <div style="padding-left: 40px">#}
        {% block body_block %}
        {% endblock %}
{#    </div>#}





{#<ul class="nav">#}
{#  <li class="nav-item">#}
{#    <a class="nav-link active" href="{% url 'index' %}"><img src="../../../static/images/logo-50.png" alt="Wandr Logo" style="margin: -25px 0px -20px 20px;"/></a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="{% url 'add_picture' %}">Submit Picture</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="{% url 'about' %}">About</a>#}
{#  </li>#}
{#  {% if user.is_authenticated %}#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="{% url 'auth_logout' %}?next=/wandr/">Logout</a>#}
{#  </li>#}
{#  {% else %}#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="{% url 'login' %}">Sign In</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>#}
{#  {% endif %}#}
{#</ul>#}

<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></body>
    <script src="{% static "/js/scripts.js" %}"></script>
<footer class="site-footer">
 <a href="{% url 'about' %}">@ 2017 Pinniped Production</a>
 <a href="mailto:email@email.com">email@email.com</a>
 <a href=""><img src="../../../static/images/logo-50.png" alt="Wandr Logo" style="margin-top: 5px"/></a>
</footer>
</html>