{% extends 'wandr/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
    <link rel="stylesheet" href="{% static "css/image_gallery.css" %}" />
{% endblock %}

{% block title_block %}
	Wandr
{% endblock %}

{% block body_block %}
<!-- Page for logged in users -->
{% if user.is_authenticated %}
<div class="parallax">
    <h1 id="wandr-title">Wandr.</h1>
</div>

<div class="margin-control ">
    <h2 class="hotThisWeek">Most Popular</h2>
</div>

<div class="container-fluid">
{% if pictures %}
    <div class="row">
        <div class="col-md-12">
            {% for pic in pictures %}
            <div class="img-wrapper col-md-4">
                <img class="index-picture" src="/media/{{ pic.picture }}" alt="{{ pic.name }}"/>

                {% if pic.have_been_list.id == request.user.id %}
                    <!-- If picture belongs to logged in user don't allow to add pictures to tgl -->
                {% else %}
                    <div class="add-to-tgl">
                        <a href="{% url 'add_to_tgl' user.id pic.pk %}">
                            <img src="{% static '/images/plus.png' %}">
                        </a>
                    </div>
                {% endif %}
                <div class="like-picture">
                    <a href="{% url 'like_picture' user.id pic.pk %}">
                        <img src="{% static '/images/heart.png' %}">
                        <div class="like-count">
                            {{ pic.likes }}
                        </div>
                    </a>
                </div>

                <div class="img_overlay" data-toggle="modal" data-target="#{{ pic.picture_id }}">
                    <div class="description">
                        <h4>{{ pic.name }}</h4>
                        <p>{{ pic.description }}<br>
                        {{ pic.location }}<br></p>
                    </div>
                </div>


                <div id="{{ pic.picture_id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ pic.name }}</h4>
                          </div>
                          <div class="modal-body">
                          <img class ="lightbox-img" src="/media/{{ pic.picture }}" alt="{{ pic.name }}"/><br>
                            <p>{{ pic.description }}<br></p>
                          </div>
                          <div class="modal-footer">
                            User: <a href="{% url 'user_profile' pic.have_been_list %}"><strong>{{ pic.have_been_list.belongs_to.username }}</strong></a></br>
                            Location: {{ pic.location }}<br>
                          </div>
                        </div>

                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="button-centred">
    <a href="{% url 'picture_overview' %}"><button type="button" id="more" class="btn btn-default">More Pictures</button></a>
</div>


<div class="margin-control ">
    <h2 class="hotThisWeek">Top Contributors</h2>
        <ul class="list-group">
            {% for hbl in user_ranking %}
                <li class="list-group-item justify-content-between">
                    <a href="{% url 'user_profile' hbl %}"><strong>{{ hbl.belongs_to.username }}</strong></a>
                    <span class="badge badge-default badge-pill">{{ hbl.total_likes }} Likes</span>
                </li>
            {% endfor %}
        </ul>
</div>

<div class="page-end"></div>
{% endif %}

{% else %}
<!-- page for unauthenticated users -->
	<div id="signin-container">
        <div id="signin-box">
            <div class="margin-control">
                <img src="{% static '/images/wandr-seal.png' %}" alt="Wandr Logo" />
                <h1>Welcome to Wandr</h1>
            </div>

            <div id="login-and-register-buttons">
                <div class="button btn"><a class="btn" href="{% url 'register' %}">Register here</a></div>
                </br>
                <div class="button btn"><a class="btn" href="{% url 'login' %}">Sign In</a></div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}