{% extends 'wandr/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
    <link rel="stylesheet" href="{% static "css/image_gallery.css" %}" />
{% endblock %}

{% block title_block %}
	Wandr
{% endblock %}

{% block body_block %}
<!-- Page for logged in users -->
{% if user.is_authenticated %}
<div class="parallax">
    <h1 id="wandr-title">Wandr.</h1>
</div>

<div class="margin-control">
    <h2 class="hotThisWeek">Hot this week</h2>
</div>

{% if pictures %}
    <div class="image-container">
        {% for pic in pictures %}
            <div class="img-wrapper">
            <img src="/media/{{ pic.picture }}" alt="{{ pic.name }}"/>
                <div class="img_overlay">
                    <div class="description">
                        {{ pic.name }}</br>
                        {{ pic.description }}</br>
                        {{ pic.location }}</br>                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% else %}
<!-- page for unauthenticated users -->
	<div id="signin-container">
        <div id="signin-box">
            <div class="margin-control">
                <img src="../../../static/images/wandr-seal.png" alt="Wandr Logo" />
                <h1>Welcome to Wandr</h1>
            </div>

            <div id="login-and-register-buttons">
                <div class="button"><a href="{% url 'register' %}">Register here</a></div>
                </br>
                <div class="button"><a href="{% url 'login' %}">Sign In</a></div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}