{% extends 'wandr/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" href="{% static "css/image_gallery.css" %}" />
{% endblock %}

{% block title_block %}
	All Pictures
{% endblock %}

{% block body_block %}
	<div class="margin-control ">
    	<h1>Picture Overview</h2>
	</div>


<div class="container-fluid">
{% if pictures %}
    <div class="row">
    <div class="col-md-12">
        {% for pic in pictures %}
            <div class="img-wrapper col-md-4">
            <img src="/media/{{ pic.picture }}" alt="{{ pic.name }}"/>
                
               
                <div class="img_overlay" data-toggle="modal" data-target="#{{ pic.picture_id }}">
                    <div class="description">
                        <h4>{{ pic.name }}</h4>
                        <p>{{ pic.description }}</br>
                        {{ pic.location }}</br></p>
                    </div>
                </div>


                <div id="{{ pic.picture_id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ pic.name }}</h4>
                          </div>
                          <div class="modal-body">
                          <img class ="lightbox-img" src="/media/{{ pic.picture }}" alt="{{ pic.name }}"/></br>
                            <p>{{ pic.description }}</br></p>
                          </div>
                          <div class="modal-footer">
                            User: <a href="{% url 'user_profile' pic.have_been_list %}">{{ pic.have_been_list.belongs_to.username }}</a></br>
                            Location: {{ pic.location }}</br>
                          </div>
                        </div>

                      </div>
                    </div>

            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}