{% extends 'wandr/base.html' %}
{% block title_block %}
    User {{ user.username }}
{% endblock %}
{# I apologise for the mess of style tags, we can add them to a style sheet later #}
{% block body_block %}
<h1>This is the upload cover picture page.</h1>

    Upload here
    <form id="cover_photo_form" method="post" action="{% url 'upload_cover_photo' user_id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ request.user }}
     <!-- Display each form -->
     {{ cover_photo_form.as_p }}

     <input type="submit" name="submit" value="Submit" />
    </form>

{% endblock %}
