{% extends 'wandr/base.html' %}
{% block title_block %}
    User {{ user.username }}
{% endblock %}
{# I apologise for the mess of style tags, we can add them to a style sheet later #}
{% block body_block %}
<h1>This is the upload profile picture page.</h1>

        Upload here
        <form id="profile_picture_form" method="post" action="{% url 'upload_p_picture' user_id %}" enctype="multipart/form-data">
        {% csrf_token %}

         <!-- Display each form -->
         {{ profile_picture_form.as_p }}

         <input type="submit" name="submit" value="Submit" />
        </form>

{% endblock %}
