{% extends 'wandr/base.html' %}
{% block title_block %}
    User {{ user.username }}
{% endblock %}
{# I apologise for the mess of style tags, we can add them to a style sheet later #}
{% block body_block %}

<div class="margin-control">
<h1>Upload your profile picture</h1>
	<div class="container col-sm-10">
        <form id="profile_picture_form" method="post" action="{% url 'upload_p_picture' user_id %}" enctype="multipart/form-data">
        {% csrf_token %}

         <!-- Display each form -->
         <!-- {{ profile_picture_form.as_p }} -->
         {% for field in profile_picture_form %}
         <div class="form-group row">
         	<label for="{{ field.id_for_label }}" class="col-form-label col-sm-2">
           		{{ field.label }}
         	</label>
         	<div class="col-sm-10">
         		{{ field }}
         	</div>
        </div>
        {% endfor %}
         <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
