{% extends 'wandr/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

{% endblock %}

{% block title_block %}
    User {{ user.username }}
{% endblock %}

{% block body_block %}

    <!-- Cover photo -->
    <div id="cover-photo-container">
        {% if user.userprofile.cover_photo %}
            {% if this_user %}
                <div class="edit-cover-photo-icon"><a href="{% url 'upload_cover_photo' user.id %}"><img src="../../../static/images/edit_pencil.jpg"></a></div>
            {% endif %}
            <div id="cover-photo-wrapper" style="background:url('/media/{{ user.userprofile.cover_photo }}');"></div>
        {% else %}
            {% if this_user %}
                <a href="{% url 'upload_cover_photo' user.id %}">
                    <div id="empty-cover-photo-wrapper">
                        <h1>Upload your cover photo</h1><img src="../../../static/images/plus.png" alt="">
                    </div>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <!-- Profile Picture -->
    <div id="profile-picture-container">
        {% if user.userprofile.picture %}
            <div id="profile-picture-wrapper">
                {% if this_user %}
                    <div class="edit-profile-pic-icon">
                        <a href="{% url 'upload_p_picture' user.id %}">
                            <img class="edit-pencil-img" src="../../../static/images/edit_pencil.jpg" />
                        </a>
                    </div>
                {% endif %}
                    <img class="profile-picture-img" src="/media/{{ user.userprofile.picture }}" alt="profile_image">
            </div>
        {% else %}
            <div id="empty-profile-picture-wrapper">
                {% if this_user %}
                    <a href="{% url 'upload_p_picture' user.id %}">
                        <img src="../../../static/images/add-profile-picture.jpg" alt="profile_image">
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div>
    {% if this_user %}
        <h1>{{ user.username }}</h1>
    {% else %}
        <h1>{{ user.username }} {{ user.id }}</h1>
    {% endif %}
    </div>

    <div id="user-info-container" class="container-fluid">
        <div class="col-md-12">
            <!-- User Bio -->
            <div class="col-md-4">

            {% if this_user %}
                <h2>About You<a href="{% url 'update_profile' user.id %}"><img class="edit-pencil-img" src="../../../static/images/edit_pencil.jpg" /></a></h2>
            {% else %}
                <h2>{{ user.username }}'s Bio</h2>
            {% endif %}    

                <p class="text-justify">{{ user.userprofile.bio }}</p>
            </div>

            <!-- User Info -->
            <div class="col-md-4 col-md-push-4">
                <h2>User Info</h2>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-home"></span>
                    </div>
                    <h4> {{ user.userprofile.home_town }} </h4>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-tags"></span>
                    </div>
                    <h4>{{ user.userprofile.tags }}</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <!-- Have Been List -->
        <div class="hbl-container col-md-6">
            <div class="hbl-title-container">
            {% if this_user %}
                <h2>Have Been List</h2>

                <a href="{% url 'add_picture' %}">
                    <div class="hbl-add-picture-button">
                        <img src="{% static "/images/plus.png" %}" alt="add picture">
                    </div>
                </a>

            {% else %}
                <h2>{{ user.username }}'s Have Been List</h2>
            {% endif %}

            </div>

            {% for picture in hbl.picture_set.all %}
                <div class="list-img-container col-md-6">
                <!-- If logged in user they can delete hbl photos -->
                    {% if this_user %}
                    <div class="add-to-tgl">
                        <a href="{% url 'remove_from_hbl' user.id picture.pk %}">
                            <img src="{% static "/images/delete.png" %}">
                        </a>
                    </div>
                    {% else %}
                    <!-- If logged in user is on their own profile don't allow to add pictures to tgl -->
                    <div class="add-to-tgl">
                        <a href="{% url 'add_to_tgl' user.id picture.pk %}">
                            <img src="{% static "/images/plus.png" %}">
                        </a>
                    </div>

    <!-- cynthias changes start -->
                    <div class="like-picture">
                        <a href="{% url 'like_picture' user.id picture.pk %}">
                            <img src="{% static "/images/heart.png" %}">
                            <div class="like-count">
                                {{ picture.likes }}
                            </div>
                        </a>
                    </div>
    <!-- changes end -->

                    {% endif %}
                    <img class="profile-list-image" src="/media/{{ picture.picture }}" alt="{{ picture.name }}">
                </div>
            {% endfor %}

        </div>


        <!-- To Go List -->
        <div class="tgl-container col-md-6">
            <h2>To Go List</h2>
            {% for picture in tgl.picture_set.all %}
                <div class="list-img-container col-md-6">
                    {% if this_user %}
                    <div class="add-to-tgl">
                        <a href="{% url 'remove_from_tgl' user.id picture.pk %}">
                            <img src="../../../static/images/delete.png">
                        </a>
                    </div>
    <!-- cynthias changes start -->
                    {% else %}

                    <div class="add-to-tgl">
                        <a href="{% url 'add_to_tgl' user.id picture.pk %}">
                            <img src="../../../static/images/plus.png">
                        </a>
                    </div>

                    <div class="like-picture">
                        <a href="{% url 'like_picture' user.id picture.pk %}">
                            <img src="../../../static/images/heart.png">
                            <div class="like-count">
                                {{ picture.likes }}
                            </div>
                        </a>
                    </div>
    <!-- changes end -->


                    {% endif %}
                    <img class="profile-list-image" src="/media/{{ picture.picture }}" alt="{{ picture.name }}">
                </div>


            {% endfor %}

        </div>
    </div>


{% endblock %}
