body {
	padding-top: 70px;
	font-size: 16px;
	font-family: "Helvetica", Helvetica, sans-serif;
	margin:0;
	height: 100%;
}

html {
	height: 100%;
}

h1 {
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
	color: #354b48;
}

h2 {
	font-size: 20px;
	text-align: center;
	color: #354b48;
}

/*ul {*/
	/*border-right: 1px solid #555;*/
	/*font-weight: bold;*/
	/*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: #8ED081;*/
/*}*/

/*ul a {*/
	/*font-size: 18px;*/
	/*border: 1px #555;*/
    /*display: block;*/
    /*color: #2F4F4F;*/
    /*text-align: center;*/
    /*padding: 25px 20px 14px 16px;*/
    /*text-decoration: none;*/
    /*float: left;*/
/*}*/

/*ul a:hover {*/
	/*background-color: #82BE76;*/
	/*color: white;*/
/*}*/

/*ul a:active {*/
	/*background-color: #696969;*/
/*}*/

#menu-bar {
	height: 50px;
    padding: 20px 0;
    box-sizing: content-box;
	background: #8ED081;
	border:0;
	opacity: 0.85;
	box-shadow: 0 5px 8px rgba(136, 136, 136, 0.50);
	font-size:18px;
	transition:padding 0.3s ease;
}
.nav-link.active img {
	margin:0 20px;
}

p.justified {
	text-align: justify;
}

.margin-control {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
}

#menu-profile {
	z-index:5;
	top:0;
    right:20px;
	line-height:40px;
	padding:0;
	margin:0;
}
#menu-profile a {
	padding:0;
	margin:0;
	line-height:48px;
}
#profile-icon-wrapper {
    border-radius:50%;
    overflow: hidden;
    height:50px;
    width:50px;
	float:right;
	margin-left:10px;

}
#profile-icon-wrapper img {
	height:50px;
	width:50px;
	object-fit: cover;
}

a {
	color: black;
	text-decoration: none;
}

div.about-block {
	width: 70%;
	margin: 20px auto;
	font-size: 20px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
}
.page-wrap:after {
  content: "";
  display: block;
}


#footer {
    background-color: #8ED081;
    opacity: 0.85;
}

.footer-padding-top {
    padding-top: 20px;
}

/*
footer {
	background-color: #8ED081;
	text-align: center;
	opacity: 0.85;
}

footer.site-footer {
  	height: 70px;
	line-height:70px;
	clear:both;
}

footer a {
	margin: 20px 60px 5px 60px;
	color: #2F4F4F;
}
*/
.add-to-tgl {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    z-index: 5;
    right: 8%;
    top: 8%;
    border-radius:5px;
    overflow: hidden;
    border:1px solid #666;
    box-shadow: 2px 3px 5px #333;
    opacity:0;
    transform:scale(0);
    transition: all 0.3s cubic-bezier(0.56, 0.08, 0.24, 2.04);
}
.add-to-tgl a img {
    width:50px;
    height:50px;
}

.like-picture {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    z-index: 5;
    left: 8%;
    top: 8%;
    border-radius:5px;
    overflow: hidden;
    border:1px solid #666;
    box-shadow: 2px 3px 5px #333;
    opacity:0;
    transform:scale(0);
    transition: all 0.3s cubic-bezier(0.56, 0.08, 0.24, 2.04);
}


.like-picture a img {
    margin-top: 4px;
    width: 42px;
    height: 40px;
}
.like-count {
    color: #FFF;
    position: absolute;
    font-size: 20px;
    z-index: 15;
    width: 49px;
    height: 50px;
    top: 8px;
    text-align: center;
    font-weight:100;
}

.img-wrapper:hover .add-to-tgl,
.img-wrapper:hover .like-picture {
    opacity: 0.9;
    transform: scale(1);
}