
.img-wrapper {
        padding-bottom: 60%;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
@media screen and (min-width:992px) {
    .img-wrapper {
        padding-bottom: 25%;
    }
}


.img-wrapper img {
    top: 5%;
    left: 5%;
    position: absolute;
    height: 90%;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

.image-container {
  padding-left: 5%;
}

.img_overlay {
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    top:5%;
    left: 5%;
    right: 0;
    background-color: #badabf;
    overflow: hidden;
    width: 0;
    height: 90%;
    transition: .5s ease;
    cursor: pointer;
}

.img-wrapper:hover .img_overlay {
    width: 90%;
}

.modal-body img {
  height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.description {
  white-space: nowrap; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.img-wrapper .lightbox-img {
    width: 90%;
    height: 90%;
    position: relative;
    top:0;
    left:0;
}
