.img-wrapper {
    margin-top: 10px;
    margin-right: 40px;
    width: 44.5%;
    padding-bottom: 30%;
    border: 2px solid #96bca5;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #333;
}

.img-wrapper img {
    min-width: 100%;
    min-height:100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.image-container {
  padding-left: 5%;
}

.img_overlay {
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #badabf;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.img-wrapper:hover .img_overlay {
    width: 100%;
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.description {
  white-space: nowrap; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

