.parallax {
    /* The image used */
    background-image: url("../images/wandrlust.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-size: 60px;
	padding-top: 20px;
    padding-left: 5%;
	text-align: left;
}

h2.welcome {
    padding-left: 5%;
    text-align: left;
}
h2.hotThisWeek {
	text-align: left;
}
