.parallax {
    /* The image used */
    background-image: url("../images/wandrlust.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1#wandr-title {
	font-size: 60px;
	padding-top: 20px;
    padding-left: 5%;
	text-align: left;
}

h2.hotThisWeek {
	text-align: left;
}

div#login-and-register-buttons {
    /*padding-top: 40px;*/
    padding-bottom: 40px;
    text-align: center;
}

a.button {
    background-color: #8ED081; /* Green */
    width: 100px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0.5px solid #4B543B;
    font-size: 16px;
}

a.button:hover {
    background-color: #75AB6A;
}

a.button:click {
    background-color: #415F3B;
}

#signin-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/wandrlust.jpg");
    background-size:cover;
}
#signin-box {
    padding-top: 30px;
    width:500px;
    height:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgba(255,255,255,0.9);
    border:5px solid #8ED081;
    box-shadow: 0px 0px 50px 3px #000;
}
#signin-box h1 {
    margin-top:0;
    padding-top:0;
}
#signin-box img {
    max-width:150px;
    display: block;
    margin: 0 auto;
}