#cover-photo-container {
    position: relative;
    width:100%;
    height:400px;
    background:#dfdfdf;
}
#cover-photo-container a {
    text-decoration: none;
}

#cover-photo-wrapper {
    background-size:cover!important;
    width:100%;
    height:400px;
}
#empty-cover-photo-wrapper {
    width:100%;
    height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
}
#empty-cover-photo-wrapper h1 {
    text-align: center;
    padding:0;
    color:#969696;
}
.edit-cover-photo-icon {
    position:absolute;
    border-radius:5px;
    overflow: hidden;
    height:60px;
    width:60px;
    right:5%;
    top:20%;
    border:1px solid #000;
    box-shadow: 2px 3px 5px #333;
    opacity:0;
    transform:scale(0);
    transition: all 0.3s cubic-bezier(0.56, 0.08, 0.24, 2.04);
}
.edit-cover-photo-icon img{
    height:60px;
    width:60px;
}

#profile-picture-container {
    display:flex;
    align-items: center;
    justify-content: center;
}
#profile-picture-wrapper {
    position: relative;
    width:250px;
    height:250px;
    border:7px solid #fff;
    border-radius:50%;
    margin-top:-125px;
    overflow:hidden;
}
#empty-profile-picture-wrapper {
    width:250px;
    height:250px;
    border:3px solid #969696;
    background:#ccc;
    border-radius:50%;
    margin-top:-125px;
    overflow:hidden;
    position:relative;
}
#empty-profile-picture-wrapper img {
    margin:-20px 0 0 -10px;
}

.edit-profile-pic-icon {
    position:absolute;
    right: 50%;
    margin-right: -30px;
    bottom:7%;
    border-radius:5px;
    overflow: hidden;
    height:60px;
    width:60px;
    border:1px solid #000;
    box-shadow: 2px 3px 5px #333;
    opacity:0;
    transform:scale(0);
    transition: all 0.3s cubic-bezier(0.56, 0.08, 0.24, 2.04);
}

.profile-picture-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.edit-pencil-img {
    height:60px;
    width:60px;
}
#profile-picture-wrapper:hover .edit-profile-pic-icon {
    opacity:0.75;
    transform:scale(1);
}
#cover-photo-container:hover .edit-cover-photo-icon{
    opacity: 0.75;
    transform:scale(1);
}

.hbl-add-picture-wrapper {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
}
.hbl-add-picture-wrapper a {
    color: #969696;
}
.hbl-add-picture-button {
    width:auto;
    border:2px solid #969696;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    padding:0 15px;
    background:white;
    transition: all 0.2s ease;
    margin-left:10px;
    margin-top:10px;
}
.hbl-add-picture-button h3 {
    margin:12px 0;
}
.hbl-add-picture-button:hover {
    background:#efefef;
    border-color: #efefef;
    color: #354b48;
}
.hbl-add-picture-button img {
    width:40px;
    height:40px;
}

.hbl-container {
    border-top:1px solid #cfcfcf;
    border-right:1px solid #cfcfcf;
    box-sizing: border-box;
    min-height: 300px;
}

.tgl-container {
    border-top:1px solid #cfcfcf;
}

/* The object-fit:cover might not work on some IE or Edge browsers */
.profile-list-image {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    margin-left: 5%;
}

.list-img-container {
    margin-top: 20px;
    padding-bottom: 30%;
    /*border: 2px solid #96bca5;*/
    text-align: center;
    position: relative;
    overflow: hidden;
}
.add-to-tgl {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    z-index: 5;
    right: 8%;
    top: 10px;
    border-radius:5px;
    overflow: hidden;
    border:1px solid #666;
    box-shadow: 2px 3px 5px #333;
    opacity:0;
    transform:scale(0);
    transition: all 0.3s cubic-bezier(0.56, 0.08, 0.24, 2.04);
}
.add-to-tgl a img {
    width:50px;
    height:50px;
}

.like-picture {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    z-index: 5;
    left: 8%;
    top: 10px;
    border-radius:5px;
    overflow: hidden;
    border:1px solid #666;
    box-shadow: 2px 3px 5px #333;
    opacity:0;
    transform:scale(0);
    transition: all 0.3s cubic-bezier(0.56, 0.08, 0.24, 2.04);
}


.like-picture a img {
    margin-top: 4px;
    width: 42px;
    height: 40px;
}
.like-count {
    color: #FFF;
    position: absolute;
    font-size: 20px;
    z-index: 15;
    width: 49px;
    height: 50px;
    top: 8px;
    text-align: center;
    font-weight:100;
}

.list-img-container:hover .add-to-tgl{
    opacity: 0.9;
    transform: scale(1);
}

.list-img-container:hover .like-picture {
    opacity: 0.9;
    transform: scale(1);
}
#user-info-container {
    margin-top: -160px;
    min-height: 250px;
}
.hbl-title-container {
    display:flex;
    justify-content: center;
    flex-direction:row;
}